<div id="particles-js" class="row w-100 h-100 p-0 m-0">
</div>

<div class="card w-75 m-auto shadow-lg centered">
    <div class="card-img-top d-flex" ngxAnimatedGradient>
        <h1 class="display-1 text-white m-auto" style="font-weight: bold;"><strong>GBMU 42</strong></h1>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 d-flex m-2">
                <h5 class="card-title m-auto">ABNACEUR / APSAINT- / DPALOMBO</h5>
            </div>
            <div class="col-12 d-flex m-2">
                <p class="card-text">Ce sujet a pour but de vous faire réaliser un émulateur GameBoyTM /
                    GameBoyTM
                    Color. Pour cela vous devrez correctement reproduire le fonctionnement du materiel à
                    l’aide de la documentation fournie par Nintendo®.</p>
            </div>
            <div class="col-12 d-flex m-2">
                <a routerLink='/game' (click)="goToGameboy()" class="btn btn-primary m-auto w-100">
                    <h3>Play</h3>
                </a>
            </div>
        </div>
    </div>
</div>