<div class="container">
    <div class="header-title">
        <h1 class="title">
            GBMU
        </h1>
    </div>

    <div class="section">
        <div class="gb-player">
            <canvas id="gameboy" width="320" height="288"></canvas>

            ROM File:
            <input type="file" id="file" />
        </div>

        <div class="state-mng">
            <button id="btn-saveState">Save state</button>
            <button id="btn-loadState">Load state</button>
        </div>
        <div class="deguber-section">
            <input id="active-debug" type="checkbox" name="active-debug" />
            <label style="color: white; font-size: 22px" for="active-debug">Debugger</label>
            <br><br>
            <hr>
            <div style="color: white; font-size: 22px" id="debug"></div>
        </div>

    </div>

</div>