<div class="backgd"></div>
<img class="gbImage" [ngClass]="{'d-none': electronService.isFullScreen}" src="./assets/gameboy.png" alt="">
<canvas (dblclick)='fullScreen()' [ngClass]="{'fullScreen': electronService.isFullScreen, 
    'w-100': electronService.isFullScreen,
'screenCanvas' : !electronService.isFullScreen}" id="gameboy"></canvas>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="arrowT" class="arrowT"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="arrowB" class="arrowB"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="arrowR" class="arrowR"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="arrowL" class="arrowL"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="bSelect" class="bSelect"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="bStart" class="bStart"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="bA" class="bA"></div>
<div [ngClass]="{'d-none': electronService.isFullScreen}" id="bB" class="bB"></div>

<div class="input-group" class="inputFile" [ngClass]="{'d-none': electronService.isFullScreen}">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="file" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Room</label>
    </div>
</div>

<div class="saveLoadGroup" [ngClass]="{'d-none': electronService.isFullScreen}">
    <div class="w-100 btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <button id="btn-saveState">Save</button>
        </label>
        <label class="btn btn-secondary">
            <button id="btn-loadState">Load</button>
        </label>
    </div>
</div>
<div class="debugButton" [ngClass]="{'d-none': electronService.isFullScreen}">
    <button (click)="debug()" type="button" [ngClass]="{'btn-primary': DEBUG, 'btn-outline-info'  :!DEBUG }"
        class="btn btn-sm">DEBUG</button>
    <input id="active-debug" type="checkbox" class="d-none" [checked]="DEBUG" />
</div>

<div class="debug-section container-fluid" [ngClass]="{'d-none': electronService.isFullScreen || !DEBUG}">
    <div class="row">
        <div class="col-12">SCREEN -> FRAME PER SEC : <div id="frameScreen"></div>
        </div>
        <div class="col-12">REGISTERS : <div id="debug"></div>
        </div>
        <div class="col-12 mt-2">CPU CMD : <div id="debug"></div>
        </div>
        <div class="col-12" id='debug-Cmd'>
            <div class="input-group mb-3">
                <input id="gb-input" type="text" class="form-control" placeholder="Cmd here..." aria-label="Cmd here..."
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">Send</span>
                </div>
            </div>
        </div>
    </div>
</div>