:host {
      
      input[type="file"] {
        // position: absolute;
        // z-index: -1;
        top: 10px;
        left: 8px;
        font-size: 17px;
        color: #b8b8b8;
      }
      

      #debug { 
        color: white;
      }

      .container {
        display: flex;
        flex-direction: column;
      }

      .section {
        display: flex;
        flex-direction: row;
      }

      .gb-player {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-direction: center;
        padding-right: 150px;   
      }

      .header-title {
        // width: 100vw;
      }
}